*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #009688 20%, #dadbd2 20%);
}


#app{
    width: 70%;
    margin: 5rem auto;
    height: 800px;
    background-color: #eaeaea;
}

#contacts-bar{
    border-right: 1px solid #d4d4d4
}

.user-container{
    height: 60px;
}

.user-profile{
    height: 100%;
}

.user-profile img, .contact-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#toggle-msg-bar{
    background-color: #8edafc;
    height: 80px;
}

#search-container{
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
}

#contacts-list{
    height: 100%;
    overflow-y: hidden;
}

.contact-container{
    height: calc(100% / 8);
}
.contact-profile{
    height: 100%;
    width: 100%;
}


#desktop-msg{
    color: grey;
}

.fa-bell-slash{
    color: white;
}

.searchbar{
    background-color: white;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #d4d4d4
}

.searchbar .m-glass{
    border-right: 1px solid #d4d4d4;
}

.searchbar #input-searchbar{
    width: 100%;
}

.minor-text{
    color: grey;
    font-size: .8rem;
}

.timestamp{
    top: 5%;
    right: 3%
}