*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #009688 15%, #dadbd2 15%);

}

i{
    color: grey;
}


#app{
    width: 1300px;
    margin: 5rem auto;
    height: 800px;
    background-color: #eaeaea;
}

#contacts-bar{
    border-right: 1px solid #d4d4d4;
}

.user-container{
    height: 60px;
}

.user-profile{
    height: 100%;
}

.user-profile img, .contact-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#toggle-msg-bar{
    background-color: #8edafc;
    height: 80px;
}

#search-container{
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
}

#contacts-list{
    height: calc(800px - 190px);
    overflow-y: hidden;
}

.contact-container{
    height: calc(100% / 8);
}
.contact-profile{
    height: 100%;
    width: 100%;
}


#desktop-msg{
    color: grey;
}
#desktop-msg span{
    font-size: .5rem;
}
.bell-container{
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display:flex;
}
.fa-bell-slash{
    color: #8edafc;
    margin: auto;
}

.searchbar{
    background-color: white;
    width: 100%;
    border-radius: .25rem;
    background-color: #eaeaea;
}

.searchbar .m-glass{
    border-right: 1px solid #d4d4d4;
}

.searchbar #input-searchbar{
    width: 100%;
}

.minor-text{
    color: grey;
    font-size: .8rem;
}

.timestamp{
    top: 5%;
    right: 3%
}

#display-msg{
    height: calc(800px - 130px);
    background-image: url("./img/mine.jpg");
}

#input-bar{
    height: 70px;
}

input{
    background-color: #eaeaea;
    border-radius: .25rem;
}

input::placeholder{
    font-size: .9rem;
}

input:focus{
    outline: none;
}

.user-message, .user-2-message{
   padding-top: 1rem;
}

.user-message p{
    background-color: #d5f9ba;
}

.user-2-message p{
    background-color: #eeeeee;
    
}

.user-message p,
.user-2-message p{
    border-radius: .25rem;
    padding: .25rem .8em;
    padding-right: 5rem;
    position: relative;
}

.timestamp-msg{
    bottom: 5%;
    right: 1%;
    font-size: .6rem;
    color: grey;
}